# TP2: Machine Learning

### Imports

In [1]:
import pandas as pd
from datetime import datetime
import scipy.spatial
from sklearn import preprocessing

### Data loading

In [ ]:
stationDF = pd.read_csv('../CSVs/station.csv')
trainingSet = pd.read_csv('../CSVs/trip_train.csv')
testingSet = pd.read_csv('../CSVs/trip_test.csv')

## Basic data analysis

In [ ]:
stationDF

In [ ]:
print "stationDF.shape: ", stationDF.shape

In [ ]:
distancesDF = pd.DataFrame(columns=["start_station_id", "end_station_id", "distance"])

In [ ]:
scipy.spatial.distance_matrix([scipy.spatial.distance.cityblock(stationDF.lat, stationDF.long), 70], \
                              [scipy.spatial.distance.cityblock(stationDF.lat, stationDF.long), 70])

In [ ]:
for station, lat, lon in zip(stationDF.id, stationDF.lat, stationDF.long):
    for station2, lat2, lon2 in zip(stationDF.id, stationDF.lat, stationDF.long):
        distancesDF = distancesDF.append({
            "start_station_id": station,
            "end_station_id": station2,
            "distance": scipy.spatial.distance.cityblock([lat, lon], [lat2, lon2])
        }, ignore_index=True)

In [ ]:
distancesDF

In [ ]:
distancesDF['start_station_id'] = distancesDF.start_station_id.astype(int)
distancesDF['end_station_id'] = distancesDF.end_station_id.astype(int)
distancesDF

### Training set

In [ ]:
trainingSet.head()

In [ ]:
trainingSet.dtypes

### convert to date to datetime

In [ ]:
trainingSet['start_date'] = pd.to_datetime(trainingSet.start_date)
trainingSet['end_date'] = pd.to_datetime(trainingSet.end_date)

In [ ]:
testingSet['start_date'] = pd.to_datetime(testingSet.start_date)
testingSet['end_date'] = pd.to_datetime(testingSet.end_date)

In [ ]:
trainingSet.dtypes

In [ ]:
trainingSet['start_dayOfWeek'] = trainingSet.start_date.dt.dayofweek
trainingSet['start_week'] = trainingSet.start_date.dt.week
trainingSet['start_quarter'] = trainingSet.start_date.dt.quarter
trainingSet['start_time'] = trainingSet.start_date.dt.time
trainingSet['start_hour'] = trainingSet.start_date.dt.hour
trainingSet['start_minute'] = trainingSet.start_date.dt.minute
trainingSet['start_date'] = trainingSet.start_date.dt.date

trainingSet['end_dayOfWeek'] = trainingSet.end_date.dt.dayofweek
trainingSet['end_week'] = trainingSet.end_date.dt.week
trainingSet['end_quarter'] = trainingSet.end_date.dt.quarter
trainingSet['end_time'] = trainingSet.end_date.dt.time
trainingSet['end_hour'] = trainingSet.end_date.dt.hour
trainingSet['end_minute'] = trainingSet.end_date.dt.minute
trainingSet['end_date'] = trainingSet.end_date.dt.date

In [ ]:
testingSet['start_dayOfWeek'] = testingSet.start_date.dt.dayofweek
testingSet['start_week'] = testingSet.start_date.dt.week
testingSet['start_quarter'] = testingSet.start_date.dt.quarter
testingSet['start_time'] = testingSet.start_date.dt.time
testingSet['start_hour'] = testingSet.start_date.dt.hour
testingSet['start_minute'] = testingSet.start_date.dt.minute
testingSet['start_date'] = testingSet.start_date.dt.date

testingSet['end_dayOfWeek'] = testingSet.end_date.dt.dayofweek
testingSet['end_week'] = testingSet.end_date.dt.week
testingSet['end_quarter'] =testingSet.end_date.dt.quarter
testingSet['end_time'] = testingSet.end_date.dt.time
testingSet['end_hour'] = testingSet.end_date.dt.hour
testingSet['end_minute'] = testingSet.end_date.dt.minute
testingSet['end_date'] = testingSet.end_date.dt.date

In [ ]:
trainingSet.head()

In [ ]:
list(trainingSet.columns.values)

In [ ]:
trainingSet = trainingSet[['id', 
                           'duration', 
                           'start_date',
                           'start_dayOfWeek',
                           'start_week',
                           'start_quarter', 
                           'start_time',
                           'start_hour',
                           'start_minute',
                           'start_station_name', 
                           'start_station_id', 
                           'end_date', 
                           'end_dayOfWeek',
                           'end_week',
                           'end_quarter', 
                           'end_time',
                           'end_hour',
                           'end_minute',
                           'end_station_name', 
                           'end_station_id', 
                           'bike_id',
                           'subscription_type',
                           'zip_code']]

In [ ]:
list(testingSet.columns.values)

In [ ]:
testingSet = testingSet[['id', 
                           'start_date',
                           'start_dayOfWeek',
                           'start_week',
                           'start_quarter', 
                           'start_time',
                           'start_hour',
                           'start_minute',
                           'start_station_name', 
                           'start_station_id', 
                           'end_date', 
                           'end_dayOfWeek',
                           'end_week',
                           'end_quarter', 
                           'end_time',
                           'end_hour',
                           'end_minute',
                           'end_station_name', 
                           'end_station_id', 
                           'bike_id',
                           'subscription_type',
                           'zip_code']]

In [ ]:
trainingSet.dtypes

In [ ]:
testingSet.dtypes

In [ ]:
trainingSet

In [ ]:
testingSet

# ///////////////////////////////////////////////////////////////////////////////////////////////
# ///////////////////////////////////////////////////////////////////////////////////////////////
# ///////////////////////////////////////////////////////////////////////////////////////////////
# CORRER A PARTIR DE ACA

In [ ]:
stationDF = pd.read_csv('../CSVs/station.csv')
trainingSet = pd.read_csv('../CSVs/improved_trip_train.csv')
testingSet = pd.read_csv('../CSVs/improved_trip_test.csv')

## Feature Distancia

In [ ]:
distancesDF = pd.DataFrame(columns=["start_station_id", "end_station_id", "distance"])
for station, lat, lon in zip(stationDF.id, stationDF.lat, stationDF.long):
    for station2, lat2, lon2 in zip(stationDF.id, stationDF.lat, stationDF.long):
        distancesDF = distancesDF.append({
            "start_station_id": station,
            "end_station_id": station2,
            "distance": scipy.spatial.distance.cityblock([lat, lon], [lat2, lon2])
        }, ignore_index=True)
        
distancesDF['start_station_id'] = distancesDF.start_station_id.astype(int)
distancesDF['end_station_id'] = distancesDF.end_station_id.astype(int)
distancesDF

In [ ]:
trainingSet = pd.merge(trainingSet,distancesDF,on =['start_station_id','end_station_id'],how = 'inner')

In [ ]:
testingSet = pd.merge(testingSet,distancesDF,on =['start_station_id','end_station_id'],how = 'inner')

## Feature Historico

In [ ]:
trainingShort = trainingSet.loc[:,['id','duration','start_station_name','start_station_id','end_station_name','end_station_id']]

In [ ]:
import math
listaStart = []
listaEnd = []
for i in list(trainingShort.start_station_id.values):
    if i not in listaStart:
        listaStart.append(i)
for i in list(trainingShort.end_station_id.values):
    if i not in listaEnd:
        listaEnd.append(i)
listaHistorico = []
for i in listaStart:
    for j in listaEnd:
        df = trainingShort[(trainingShort['start_station_id'] == i) & (trainingShort['end_station_id'] == j)]
        historico = df.duration.mean()
        if (not(math.isnan(historico))):
            listaHistorico.append([i,j,historico])
        
listaHistorico

In [ ]:
starStationId = []
endStationId = []
historical = []
for x in listaHistorico:
    starStationId.append(x[0])
    endStationId.append(x[1])
    historical.append(x[2])

data = {
    'start_station_id' : starStationId,
    'end_station_id' : endStationId,
    'historical' : historical,
}

dfData = pd.DataFrame(data,columns = ['start_station_id','end_station_id','historical'])
dfData

In [ ]:
trainingShort = pd.merge(trainingShort,dfData,on =['start_station_id','end_station_id'],how = 'inner')
trainingShort = trainingShort [['id', 'historical']]
trainingSet = pd.merge(trainingSet,trainingShort,on =['id'],how = 'inner')

In [ ]:
trainingSet['historical'] = trainingSet.historical.astype(int)
trainingSet

## Agrego datos de TP1

In [ ]:
trainingSet.loc [:,['id','duration','start_station_id', 'end_station_id','start_time', 'end_time','historical','distance' ]]

In [ ]:
 dfTrip = pd.read_csv('../CSVs/trip.csv')
# dfTrip = dfTrip.loc[:,['id','duration']]
# dfTrip = dfTrip.rename(columns={'duration':'durationPosta'})
# dfScore = pd.merge(testingSet,dfTrip,on =['id'],how = 'inner')
# dfScore

In [ ]:
dfTrip.corr()['duration']

In [ ]:
dfTrip.loc[dfTrip.id == 192809,:]

In [ ]:
trainingSet

In [ ]:
# GLORIOSO DF DEL TP1
#(0 = Monday, 1 = Tuesday...)
dfSF_Bay = pd.read_csv('../CSVs/dfSF_Bay.csv')
dfSF_Bay

In [ ]:
dfSF_Bay.corr()['viajes']

In [ ]:
dfSF_Bay.loc[dfSF_Bay.month == 2,:].loc[dfSF_Bay.year == 2014,:].loc[dfSF_Bay.weekday == 5,:]

In [ ]:
dfSF_Bay.dtypes

In [ ]:
#Elijo las mejores variables en funcion del TP1
dfSF_Bay = dfSF_Bay.loc [:,['viajes','max_temperature_c','min_temperature_c','max_humidity','max_sea_level_pressure_cm','precipitation_cm','Fog','Normal','Rain','business_day','holiday','year','month','weekday','date']]

In [ ]:
dfSF_Bay.dtypes

In [ ]:
trainingSet['year'] = pd.to_datetime(trainingSet['start_date']).dt.year
trainingSet['month'] = pd.to_datetime(trainingSet['start_date']).dt.month
trainingSet['weekday'] = pd.to_datetime(trainingSet['start_date']).dt.weekday
trainingSet

In [ ]:
trainingSet = pd.merge(trainingSet,dfSF_Bay,left_on ='start_date',right_on='date',how = 'inner')

In [ ]:
trainingSet.dtypes

In [ ]:
trainingSet.drop(['year_x','month_x','weekday_x'],1,inplace=True)

In [ ]:
trainingSet.drop(['date'],1,inplace=True)

In [ ]:
trainingSet = trainingSet.rename(columns={'year_y':'year','month_y':'month','weekday_y': 'weekday'})

In [ ]:
trainingSet.dtypes

## Save processed data

In [ ]:
trainingSet.to_csv('../CSVs/improved_trip_train.csv', index=False)

In [ ]:
testingSet.to_csv('../CSVs/improved_trip_test.csv', index=False)

# //////////////////////////////////////////////////////////////////////////////

# //////////////////////////////////////////////////////////////////////////////

# //////////////////////////////////////////////////////////////////////////////

# Discretizacion y Normalizacion

## Discretizacion

In [2]:
trainingSet = pd.read_csv('../CSVs/improved_trip_train.csv')
testingSet = pd.read_csv('../CSVs/improved_trip_test.csv')

In [3]:
trainingSet

,id,duration,start_date,start_dayOfWeek,start_week,start_quarter,start_time,start_hour,start_minute,start_station_name,...,max_sea_level_pressure_cm,precipitation_cm,Fog,Normal,Rain,business_day,holiday,year,month,weekday
0,907649,396,2015-08-27,3,35,3,08:36:00,8,36,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
1,907702,287,2015-08-27,3,35,3,08:50:00,8,50,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
2,908937,595,2015-08-27,3,35,3,19:02:00,19,2,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
3,908953,439,2015-08-27,3,35,3,19:14:00,19,14,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
4,909076,872,2015-08-27,3,35,3,21:20:00,21,20,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
5,909006,3328,2015-08-27,3,35,3,19:56:00,19,56,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
6,908192,767,2015-08-27,3,35,3,13:26:00,13,26,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
7,908938,590,2015-08-27,3,35,3,19:02:00,19,2,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
8,909005,3360,2015-08-27,3,35,3,19:55:00,19,55,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
9,907428,427,2015-08-27,3,35,3,07:38:00,7,38,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
10,908070,360,2015-08-27,3,35,3,11:51:00,11,51,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
11,909002,289,2015-08-27,3,35,3,19:52:00,19,52,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
12,907974,327,2015-08-27,3,35,3,10:23:00,10,23,Harry Bridges Plaza (Ferry Building),...,76.3524,0.000,0,1,0,1,0,2015,8,3
13,907722,354,2015-08-27,3,35,3,08:53:00,8,53,Market at Sansome,...,76.3524,0.000,0,1,0,1,0,2015,8,3
14,908999,267,2015-08-27,3,35,3,19:51:00,19,51,Market at Sansome,...,76.3524,0.000,0,1,0,1,0,2015,8,3
15,908150,236,2015-08-27,3,35,3,12:54:00,12,54,Market at Sansome,...,76.3524,0.000,0,1,0,1,0,2015,8,3
16,907472,624,2015-08-27,3,35,3,07:52:00,7,52,San Francisco Caltrain 2 (330 Townsend),...,76.3524,0.000,0,1,0,1,0,2015,8,3
17,908894,528,2015-08-27,3,35,3,18:40:00,18,40,San Francisco Caltrain 2 (330 Townsend),...,76.3524,0.000,0,1,0,1,0,2015,8,3
18,907946,598,2015-08-27,3,35,3,09:59:00,9,59,San Francisco Caltrain 2 (330 Townsend),...,76.3524,0.000,0,1,0,1,0,2015,8,3
19,907745,684,2015-08-27,3,35,3,08:58:00,8,58,San Francisco Caltrain 2 (330 Townsend),...,76.3524,0.000,0,1,0,1,0,2015,8,3
20,907710,820,2015-08-27,3,35,3,08:51:00,8,51,San Francisco Caltrain 2 (330 Townsend),...,76.3524,0.000,0,1,0,1,0,2015,8,3
21,908907,302,2015-08-27,3,35,3,18:46:00,18,46,Market at 10th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
22,908590,459,2015-08-27,3,35,3,17:10:00,17,10,Market at 10th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
23,908218,249,2015-08-27,3,35,3,14:03:00,14,3,Market at 10th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
24,908017,312,2015-08-27,3,35,3,11:11:00,11,11,Market at 10th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
25,907821,320,2015-08-27,3,35,3,09:17:00,9,17,Market at 10th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
26,908569,370,2015-08-27,3,35,3,17:05:00,17,5,Market at 10th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
27,907444,184,2015-08-27,3,35,3,07:45:00,7,45,Townsend at 7th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
28,907884,270,2015-08-27,3,35,3,09:38:00,9,38,Townsend at 7th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
29,907396,250,2015-08-27,3,35,3,07:20:00,7,20,Townsend at 7th,...,76.3524,0.000,0,1,0,1,0,2015,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549931,179020,711,2014-02-09,6,6,1,15:14:00,15,14,Embarcadero at Sansome,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549932,179006,320,2014-02-09,6,6,1,14:02:00,14,2,2nd at Folsom,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549933,179038,272,2014-02-09,6,6,1,18:44:00,18,44,Civic Center BART (7th at Market),...,76.6064,0.889,0,0,1,0,0,2014,2,6
549934,179007,216,2014-02-09,6,6,1,14:23:00,14,23,SJSU - San Salvador at 9th,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549935,179045,355,2014-02-09,6,6,1,20:14:00,20,14,Spear at Folsom,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549936,178976,522,2014-02-09,6,6,1,09:41:00,9,41,Commercial at Montgomery,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549937,179016,281,2014-02-09,6,6,1,14:58:00,14,58,Davis at Jackson,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549938,178990,498,2014-02-09,6,6,1,13:03:00,13,3,Harry Bridges Plaza (Ferry Building),...,76.6064,0.889,0,0,1,0,0,2014,2,6
549939,178986,688,2014-02-09,6,6,1,12:41:00,12,41,Davis at Jackson,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549940,178987,422,2014-02-09,6,6,1,12:41:00,12,41,Japantown,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549941,179043,548,2014-02-09,6,6,1,19:44:00,19,44,Market at Sansome,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549942,179001,484,2014-02-09,6,6,1,13:40:00,13,40,Clay at Battery,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549943,178978,432,2014-02-09,6,6,1,10:35:00,10,35,Grant Avenue at Columbus Avenue,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549944,179047,1045,2014-02-09,6,6,1,20:34:00,20,34,Embarcadero at Sansome,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549945,178958,1353,2014-02-09,6,6,1,01:29:00,1,29,Powell Street BART,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549946,179048,404,2014-02-09,6,6,1,20:36:00,20,36,Mechanics Plaza (Market at Battery),...,76.6064,0.889,0,0,1,0,0,2014,2,6
549947,179026,393,2014-02-09,6,6,1,15:55:00,15,55,Yerba Buena Center of the Arts (3rd @ Howard),...,76.6064,0.889,0,0,1,0,0,2014,2,6
549948,179025,481,2014-02-09,6,6,1,15:54:00,15,54,Yerba Buena Center of the Arts (3rd @ Howard),...,76.6064,0.889,0,0,1,0,0,2014,2,6
549949,179019,14280,2014-02-09,6,6,1,15:11:00,15,11,San Antonio Shopping Center,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549950,179024,810,2014-02-09,6,6,1,15:42:00,15,42,SJSU - San Salvador at 9th,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549951,178975,1476,2014-02-09,6,6,1,09:38:00,9,38,University and Emerson,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549952,178984,120,2014-02-09,6,6,1,11:48:00,11,48,Davis at Jackson,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549953,179029,122,2014-02-09,6,6,1,16:19:00,16,19,Broadway St at Battery St,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549954,178964,1441,2014-02-09,6,6,1,07:19:00,7,19,2nd at South Park,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549955,178966,799,2014-02-09,6,6,1,07:44:00,7,44,2nd at South Park,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549956,179036,448,2014-02-09,6,6,1,18:12:00,18,12,Davis at Jackson,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549957,179050,3130,2014-02-09,6,6,1,20:42:00,20,42,2nd at South Park,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549958,179051,3125,2014-02-09,6,6,1,20:43:00,20,43,2nd at South Park,...,76.6064,0.889,0,0,1,0,0,2014,2,6
549959,178979,934,2014-02-09,6,6,1,10:47:00,10,47,Powell at Post (Union Square),...,76.6064,0.889,0,0,1,0,0,2014,2,6
549960,179023,267,2014-02-09,6,6,1,15:41:00,15,41,Santa Clara at Almaden,...,76.6064,0.889,0,0,1,0,0,2014,2,6

In [4]:
trainingSet.columns.values

array(['id', 'duration', 'start_date', 'start_dayOfWeek', 'start_week',
       'start_quarter', 'start_time', 'start_hour', 'start_minute',
       'start_station_name', 'start_station_id', 'end_date',
       'end_dayOfWeek', 'end_week', 'end_quarter', 'end_time', 'end_hour',
       'end_minute', 'end_station_name', 'end_station_id', 'bike_id',
       'subscription_type', 'zip_code', 'distance', 'historical', 'viajes',
       'max_temperature_c', 'min_temperature_c', 'max_humidity',
       'max_sea_level_pressure_cm', 'precipitation_cm', 'Fog', 'Normal',
       'Rain', 'business_day', 'holiday', 'year', 'month', 'weekday'], dtype=object)

In [5]:
listaStartName = []
listaEndName = []
for i in list(trainingSet.start_station_name.values):
    if i not in listaStartName:
        listaStartName.append(i)
for i in list(trainingSet.end_station_name.values):
    if i not in listaEndName:
        listaEndName.append(i)

In [15]:
len(listaStartName)

74

In [16]:
len(listaEndName)

74

In [6]:
v = list(range(len(trainingSet.id)))
n = list(trainingSet.start_station_name)
for i in listaStartName:
    for j in range(len(v)):
        if (n[j] == i):
            v[j] = 1
        else:
            v[j] = 0
    trainingSet['start '+i] = v

In [7]:
trainingSet

,id,duration,start_date,start_dayOfWeek,start_week,start_quarter,start_time,start_hour,start_minute,start_station_name,...,start Arena Green / SAP Center,start San Salvador at 1st,start University and Emerson,start Post at Kearney,start Washington at Kearney,start Park at Olive,start San Mateo County Center,start Redwood City Public Library,start Broadway at Main,start San Jose Government Center
0,907649,396,2015-08-27,3,35,3,08:36:00,8,36,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
1,907702,287,2015-08-27,3,35,3,08:50:00,8,50,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
2,908937,595,2015-08-27,3,35,3,19:02:00,19,2,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
3,908953,439,2015-08-27,3,35,3,19:14:00,19,14,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
4,909076,872,2015-08-27,3,35,3,21:20:00,21,20,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
5,909006,3328,2015-08-27,3,35,3,19:56:00,19,56,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
6,908192,767,2015-08-27,3,35,3,13:26:00,13,26,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
7,908938,590,2015-08-27,3,35,3,19:02:00,19,2,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
8,909005,3360,2015-08-27,3,35,3,19:55:00,19,55,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
9,907428,427,2015-08-27,3,35,3,07:38:00,7,38,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
10,908070,360,2015-08-27,3,35,3,11:51:00,11,51,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
11,909002,289,2015-08-27,3,35,3,19:52:00,19,52,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
12,907974,327,2015-08-27,3,35,3,10:23:00,10,23,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
13,907722,354,2015-08-27,3,35,3,08:53:00,8,53,Market at Sansome,...,0,0,0,0,0,0,0,0,0,0
14,908999,267,2015-08-27,3,35,3,19:51:00,19,51,Market at Sansome,...,0,0,0,0,0,0,0,0,0,0
15,908150,236,2015-08-27,3,35,3,12:54:00,12,54,Market at Sansome,...,0,0,0,0,0,0,0,0,0,0
16,907472,624,2015-08-27,3,35,3,07:52:00,7,52,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,0,0,0,0,0,0
17,908894,528,2015-08-27,3,35,3,18:40:00,18,40,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,0,0,0,0,0,0
18,907946,598,2015-08-27,3,35,3,09:59:00,9,59,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,0,0,0,0,0,0
19,907745,684,2015-08-27,3,35,3,08:58:00,8,58,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,0,0,0,0,0,0
20,907710,820,2015-08-27,3,35,3,08:51:00,8,51,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,0,0,0,0,0,0
21,908907,302,2015-08-27,3,35,3,18:46:00,18,46,Market at 10th,...,0,0,0,0,0,0,0,0,0,0
22,908590,459,2015-08-27,3,35,3,17:10:00,17,10,Market at 10th,...,0,0,0,0,0,0,0,0,0,0
23,908218,249,2015-08-27,3,35,3,14:03:00,14,3,Market at 10th,...,0,0,0,0,0,0,0,0,0,0
24,908017,312,2015-08-27,3,35,3,11:11:00,11,11,Market at 10th,...,0,0,0,0,0,0,0,0,0,0
25,907821,320,2015-08-27,3,35,3,09:17:00,9,17,Market at 10th,...,0,0,0,0,0,0,0,0,0,0
26,908569,370,2015-08-27,3,35,3,17:05:00,17,5,Market at 10th,...,0,0,0,0,0,0,0,0,0,0
27,907444,184,2015-08-27,3,35,3,07:45:00,7,45,Townsend at 7th,...,0,0,0,0,0,0,0,0,0,0
28,907884,270,2015-08-27,3,35,3,09:38:00,9,38,Townsend at 7th,...,0,0,0,0,0,0,0,0,0,0
29,907396,250,2015-08-27,3,35,3,07:20:00,7,20,Townsend at 7th,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549931,179020,711,2014-02-09,6,6,1,15:14:00,15,14,Embarcadero at Sansome,...,0,0,0,0,0,0,0,0,0,0
549932,179006,320,2014-02-09,6,6,1,14:02:00,14,2,2nd at Folsom,...,0,0,0,0,0,0,0,0,0,0
549933,179038,272,2014-02-09,6,6,1,18:44:00,18,44,Civic Center BART (7th at Market),...,0,0,0,0,0,0,0,0,0,0
549934,179007,216,2014-02-09,6,6,1,14:23:00,14,23,SJSU - San Salvador at 9th,...,0,0,0,0,0,0,0,0,0,0
549935,179045,355,2014-02-09,6,6,1,20:14:00,20,14,Spear at Folsom,...,0,0,0,0,0,0,0,0,0,0
549936,178976,522,2014-02-09,6,6,1,09:41:00,9,41,Commercial at Montgomery,...,0,0,0,0,0,0,0,0,0,0
549937,179016,281,2014-02-09,6,6,1,14:58:00,14,58,Davis at Jackson,...,0,0,0,0,0,0,0,0,0,0
549938,178990,498,2014-02-09,6,6,1,13:03:00,13,3,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,0,0,0,0,0,0
549939,178986,688,2014-02-09,6,6,1,12:41:00,12,41,Davis at Jackson,...,0,0,0,0,0,0,0,0,0,0
549940,178987,422,2014-02-09,6,6,1,12:41:00,12,41,Japantown,...,0,0,0,0,0,0,0,0,0,0
549941,179043,548,2014-02-09,6,6,1,19:44:00,19,44,Market at Sansome,...,0,0,0,0,0,0,0,0,0,0
549942,179001,484,2014-02-09,6,6,1,13:40:00,13,40,Clay at Battery,...,0,0,0,0,0,0,0,0,0,0
549943,178978,432,2014-02-09,6,6,1,10:35:00,10,35,Grant Avenue at Columbus Avenue,...,0,0,0,0,0,0,0,0,0,0
549944,179047,1045,2014-02-09,6,6,1,20:34:00,20,34,Embarcadero at Sansome,...,0,0,0,0,0,0,0,0,0,0
549945,178958,1353,2014-02-09,6,6,1,01:29:00,1,29,Powell Street BART,...,0,0,0,0,0,0,0,0,0,0
549946,179048,404,2014-02-09,6,6,1,20:36:00,20,36,Mechanics Plaza (Market at Battery),...,0,0,0,0,0,0,0,0,0,0
549947,179026,393,2014-02-09,6,6,1,15:55:00,15,55,Yerba Buena Center of the Arts (3rd @ Howard),...,0,0,0,0,0,0,0,0,0,0
549948,179025,481,2014-02-09,6,6,1,15:54:00,15,54,Yerba Buena Center of the Arts (3rd @ Howard),...,0,0,0,0,0,0,0,0,0,0
549949,179019,14280,2014-02-09,6,6,1,15:11:00,15,11,San Antonio Shopping Center,...,0,0,0,0,0,0,0,0,0,0
549950,179024,810,2014-02-09,6,6,1,15:42:00,15,42,SJSU - San Salvador at 9th,...,0,0,0,0,0,0,0,0,0,0
549951,178975,1476,2014-02-09,6,6,1,09:38:00,9,38,University and Emerson,...,0,0,1,0,0,0,0,0,0,0
549952,178984,120,2014-02-09,6,6,1,11:48:00,11,48,Davis at Jackson,...,0,0,0,0,0,0,0,0,0,0
549953,179029,122,2014-02-09,6,6,1,16:19:00,16,19,Broadway St at Battery St,...,0,0,0,0,0,0,0,0,0,0
549954,178964,1441,2014-02-09,6,6,1,07:19:00,7,19,2nd at South Park,...,0,0,0,0,0,0,0,0,0,0
549955,178966,799,2014-02-09,6,6,1,07:44:00,7,44,2nd at South Park,...,0,0,0,0,0,0,0,0,0,0
549956,179036,448,2014-02-09,6,6,1,18:12:00,18,12,Davis at Jackson,...,0,0,0,0,0,0,0,0,0,0
549957,179050,3130,2014-02-09,6,6,1,20:42:00,20,42,2nd at South Park,...,0,0,0,0,0,0,0,0,0,0
549958,179051,3125,2014-02-09,6,6,1,20:43:00,20,43,2nd at South Park,...,0,0,0,0,0,0,0,0,0,0
549959,178979,934,2014-02-09,6,6,1,10:47:00,10,47,Powell at Post (Union Square),...,0,0,0,0,0,0,0,0,0,0
549960,179023,267,2014-02-09,6,6,1,15:41:00,15,41,Santa Clara at Almaden,...,0,0,0,0,0,0,0,0,0,0

In [8]:
trainingSet.loc[:,['start_station_name','start Harry Bridges Plaza (Ferry Building)']]

,start_station_name,start Harry Bridges Plaza (Ferry Building)
0,Harry Bridges Plaza (Ferry Building),1
1,Harry Bridges Plaza (Ferry Building),1
2,Harry Bridges Plaza (Ferry Building),1
3,Harry Bridges Plaza (Ferry Building),1
4,Harry Bridges Plaza (Ferry Building),1
5,Harry Bridges Plaza (Ferry Building),1
6,Harry Bridges Plaza (Ferry Building),1
7,Harry Bridges Plaza (Ferry Building),1
8,Harry Bridges Plaza (Ferry Building),1
9,Harry Bridges Plaza (Ferry Building),1
10,Harry Bridges Plaza (Ferry Building),1
11,Harry Bridges Plaza (Ferry Building),1
12,Harry Bridges Plaza (Ferry Building),1
13,Market at Sansome,0
14,Market at Sansome,0
15,Market at Sansome,0
16,San Francisco Caltrain 2 (330 Townsend),0
17,San Francisco Caltrain 2 (330 Townsend),0
18,San Francisco Caltrain 2 (330 Townsend),0
19,San Francisco Caltrain 2 (330 Townsend),0
20,San Francisco Caltrain 2 (330 Townsend),0
21,Market at 10th,0
22,Market at 10th,0
23,Market at 10th,0
24,Market at 10th,0
25,Market at 10th,0
26,Market at 10th,0
27,Townsend at 7th,0
28,Townsend at 7th,0
29,Townsend at 7th,0
...,...,...
549931,Embarcadero at Sansome,0
549932,2nd at Folsom,0
549933,Civic Center BART (7th at Market),0
549934,SJSU - San Salvador at 9th,0
549935,Spear at Folsom,0
549936,Commercial at Montgomery,0
549937,Davis at Jackson,0
549938,Harry Bridges Plaza (Ferry Building),1
549939,Davis at Jackson,0
549940,Japantown,0
549941,Market at Sansome,0
549942,Clay at Battery,0
549943,Grant Avenue at Columbus Avenue,0
549944,Embarcadero at Sansome,0
549945,Powell Street BART,0
549946,Mechanics Plaza (Market at Battery),0
549947,Yerba Buena Center of the Arts (3rd @ Howard),0
549948,Yerba Buena Center of the Arts (3rd @ Howard),0
549949,San Antonio Shopping Center,0
549950,SJSU - San Salvador at 9th,0
549951,University and Emerson,0
549952,Davis at Jackson,0
549953,Broadway St at Battery St,0
549954,2nd at South Park,0
549955,2nd at South Park,0
549956,Davis at Jackson,0
549957,2nd at South Park,0
549958,2nd at South Park,0
549959,Powell at Post (Union Square),0
549960,Santa Clara at Almaden,0

In [9]:
v = list(range(len(trainingSet.id)))
n = list(trainingSet.end_station_name)
for i in listaEndName:
    for j in range(len(v)):
        if (n[j] == i):
            v[j] = 1
        else:
            v[j] = 0
    trainingSet['end '+i] = v

In [10]:
v = list(range(len(trainingSet.id)))
days = list(range(7))
dfStartDays = list(trainingSet.start_dayOfWeek)
for i in days:
    for j in range(len(dfStartDays)):
        if(dfStartDays[j] == i):
            v[j] = 1
        else:
            v[j] = 0
    trainingSet['start_dayOfWeek_id'+str(i)] = v

In [11]:
v = list(range(len(trainingSet.id)))
days = list(range(7))
dfEndDays = list(trainingSet.end_dayOfWeek)
for i in days:
    for j in range(len(dfEndDays)):
        if(dfEndDays[j] == i):
            v[j] = 1
        else:
            v[j] = 0
    trainingSet['end_dayOfWeek_id'+str(i)] = v

In [12]:
trainingSet.loc[:,['end_dayOfWeek_id3','end_dayOfWeek']]

        end_dayOfWeek_id3  end_dayOfWeek
0                       1              3
1                       1              3
2                       1              3
3                       1              3
4                       1              3
5                       1              3
6                       1              3
7                       1              3
8                       1              3
9                       1              3
10                      1              3
11                      1              3
12                      1              3
13                      1              3
14                      1              3
15                      1              3
16                      1              3
17                      1              3
18                      1              3
19                      1              3
20                      1              3
21                      1              3
22                      1              3
23                      1              3
24                      1              3
25                      1              3
26                      1              3
27                      1              3
28                      1              3
29                      1              3
...                   ...            ...
549931                  0              6
549932                  0              6
549933                  0              6
549934                  0              6
549935                  0              6
549936                  0              6
549937                  0              6
549938                  0              6
549939                  0              6
549940                  0              6
549941                  0              6
549942                  0              6
549943                  0              6
549944                  0              6
549945                  0              6
549946                  0              6
549947                  0              6
549948                  0              6
549949                  0              6
549950                  0              6
549951                  0              6
549952                  0              6
549953                  0              6
549954                  0              6
549955                  0              6
549956                  0              6
549957                  0              6
549958                  0              6
549959                  0              6
549960                  0              6

[549961 rows x 2 columns]

In [18]:
listaSubscriptionType = []
for i in list(trainingSet.subscription_type):
    if i not in listaSubscriptionType:
        listaSubscriptionType.append(i)

In [20]:
len(listaSubscriptionType)

2

In [21]:
v = list(range(len(trainingSet.id)))
subscriptionTypes = list(trainingSet.subscription_type)
for i in listaSubscriptionType:
    for j in range(len(subscriptionTypes)):
        if(subscriptionTypes[j] == i):
            v[j] = 1
        else:
            v[j] = 0
    trainingSet['subscription_type_'+i] = v

In [22]:
trainingSet

,id,duration,start_date,start_dayOfWeek,start_week,start_quarter,start_time,start_hour,start_minute,start_station_name,...,start_dayOfWeek_id6,end_dayOfWeek_id0,end_dayOfWeek_id1,end_dayOfWeek_id2,end_dayOfWeek_id3,end_dayOfWeek_id4,end_dayOfWeek_id5,end_dayOfWeek_id6,subscription_type_Subscriber,subscription_type_Customer
0,907649,396,2015-08-27,3,35,3,08:36:00,8,36,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
1,907702,287,2015-08-27,3,35,3,08:50:00,8,50,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
2,908937,595,2015-08-27,3,35,3,19:02:00,19,2,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,0,1
3,908953,439,2015-08-27,3,35,3,19:14:00,19,14,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
4,909076,872,2015-08-27,3,35,3,21:20:00,21,20,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,0,1
5,909006,3328,2015-08-27,3,35,3,19:56:00,19,56,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,0,1
6,908192,767,2015-08-27,3,35,3,13:26:00,13,26,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
7,908938,590,2015-08-27,3,35,3,19:02:00,19,2,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,0,1
8,909005,3360,2015-08-27,3,35,3,19:55:00,19,55,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,0,1
9,907428,427,2015-08-27,3,35,3,07:38:00,7,38,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
10,908070,360,2015-08-27,3,35,3,11:51:00,11,51,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
11,909002,289,2015-08-27,3,35,3,19:52:00,19,52,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
12,907974,327,2015-08-27,3,35,3,10:23:00,10,23,Harry Bridges Plaza (Ferry Building),...,0,0,0,0,1,0,0,0,1,0
13,907722,354,2015-08-27,3,35,3,08:53:00,8,53,Market at Sansome,...,0,0,0,0,1,0,0,0,1,0
14,908999,267,2015-08-27,3,35,3,19:51:00,19,51,Market at Sansome,...,0,0,0,0,1,0,0,0,1,0
15,908150,236,2015-08-27,3,35,3,12:54:00,12,54,Market at Sansome,...,0,0,0,0,1,0,0,0,1,0
16,907472,624,2015-08-27,3,35,3,07:52:00,7,52,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,1,0,0,0,1,0
17,908894,528,2015-08-27,3,35,3,18:40:00,18,40,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,1,0,0,0,1,0
18,907946,598,2015-08-27,3,35,3,09:59:00,9,59,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,1,0,0,0,1,0
19,907745,684,2015-08-27,3,35,3,08:58:00,8,58,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,1,0,0,0,1,0
20,907710,820,2015-08-27,3,35,3,08:51:00,8,51,San Francisco Caltrain 2 (330 Townsend),...,0,0,0,0,1,0,0,0,1,0
21,908907,302,2015-08-27,3,35,3,18:46:00,18,46,Market at 10th,...,0,0,0,0,1,0,0,0,1,0
22,908590,459,2015-08-27,3,35,3,17:10:00,17,10,Market at 10th,...,0,0,0,0,1,0,0,0,1,0
23,908218,249,2015-08-27,3,35,3,14:03:00,14,3,Market at 10th,...,0,0,0,0,1,0,0,0,1,0
24,908017,312,2015-08-27,3,35,3,11:11:00,11,11,Market at 10th,...,0,0,0,0,1,0,0,0,1,0
25,907821,320,2015-08-27,3,35,3,09:17:00,9,17,Market at 10th,...,0,0,0,0,1,0,0,0,1,0
26,908569,370,2015-08-27,3,35,3,17:05:00,17,5,Market at 10th,...,0,0,0,0,1,0,0,0,1,0
27,907444,184,2015-08-27,3,35,3,07:45:00,7,45,Townsend at 7th,...,0,0,0,0,1,0,0,0,1,0
28,907884,270,2015-08-27,3,35,3,09:38:00,9,38,Townsend at 7th,...,0,0,0,0,1,0,0,0,1,0
29,907396,250,2015-08-27,3,35,3,07:20:00,7,20,Townsend at 7th,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549931,179020,711,2014-02-09,6,6,1,15:14:00,15,14,Embarcadero at Sansome,...,1,0,0,0,0,0,0,1,1,0
549932,179006,320,2014-02-09,6,6,1,14:02:00,14,2,2nd at Folsom,...,1,0,0,0,0,0,0,1,1,0
549933,179038,272,2014-02-09,6,6,1,18:44:00,18,44,Civic Center BART (7th at Market),...,1,0,0,0,0,0,0,1,1,0
549934,179007,216,2014-02-09,6,6,1,14:23:00,14,23,SJSU - San Salvador at 9th,...,1,0,0,0,0,0,0,1,1,0
549935,179045,355,2014-02-09,6,6,1,20:14:00,20,14,Spear at Folsom,...,1,0,0,0,0,0,0,1,1,0
549936,178976,522,2014-02-09,6,6,1,09:41:00,9,41,Commercial at Montgomery,...,1,0,0,0,0,0,0,1,1,0
549937,179016,281,2014-02-09,6,6,1,14:58:00,14,58,Davis at Jackson,...,1,0,0,0,0,0,0,1,1,0
549938,178990,498,2014-02-09,6,6,1,13:03:00,13,3,Harry Bridges Plaza (Ferry Building),...,1,0,0,0,0,0,0,1,1,0
549939,178986,688,2014-02-09,6,6,1,12:41:00,12,41,Davis at Jackson,...,1,0,0,0,0,0,0,1,1,0
549940,178987,422,2014-02-09,6,6,1,12:41:00,12,41,Japantown,...,1,0,0,0,0,0,0,1,1,0
549941,179043,548,2014-02-09,6,6,1,19:44:00,19,44,Market at Sansome,...,1,0,0,0,0,0,0,1,1,0
549942,179001,484,2014-02-09,6,6,1,13:40:00,13,40,Clay at Battery,...,1,0,0,0,0,0,0,1,1,0
549943,178978,432,2014-02-09,6,6,1,10:35:00,10,35,Grant Avenue at Columbus Avenue,...,1,0,0,0,0,0,0,1,1,0
549944,179047,1045,2014-02-09,6,6,1,20:34:00,20,34,Embarcadero at Sansome,...,1,0,0,0,0,0,0,1,1,0
549945,178958,1353,2014-02-09,6,6,1,01:29:00,1,29,Powell Street BART,...,1,0,0,0,0,0,0,1,1,0
549946,179048,404,2014-02-09,6,6,1,20:36:00,20,36,Mechanics Plaza (Market at Battery),...,1,0,0,0,0,0,0,1,0,1
549947,179026,393,2014-02-09,6,6,1,15:55:00,15,55,Yerba Buena Center of the Arts (3rd @ Howard),...,1,0,0,0,0,0,0,1,1,0
549948,179025,481,2014-02-09,6,6,1,15:54:00,15,54,Yerba Buena Center of the Arts (3rd @ Howard),...,1,0,0,0,0,0,0,1,1,0
549949,179019,14280,2014-02-09,6,6,1,15:11:00,15,11,San Antonio Shopping Center,...,1,0,0,0,0,0,0,1,0,1
549950,179024,810,2014-02-09,6,6,1,15:42:00,15,42,SJSU - San Salvador at 9th,...,1,0,0,0,0,0,0,1,1,0
549951,178975,1476,2014-02-09,6,6,1,09:38:00,9,38,University and Emerson,...,1,0,0,0,0,0,0,1,1,0
549952,178984,120,2014-02-09,6,6,1,11:48:00,11,48,Davis at Jackson,...,1,0,0,0,0,0,0,1,1,0
549953,179029,122,2014-02-09,6,6,1,16:19:00,16,19,Broadway St at Battery St,...,1,0,0,0,0,0,0,1,1,0
549954,178964,1441,2014-02-09,6,6,1,07:19:00,7,19,2nd at South Park,...,1,0,0,0,0,0,0,1,1,0
549955,178966,799,2014-02-09,6,6,1,07:44:00,7,44,2nd at South Park,...,1,0,0,0,0,0,0,1,1,0
549956,179036,448,2014-02-09,6,6,1,18:12:00,18,12,Davis at Jackson,...,1,0,0,0,0,0,0,1,1,0
549957,179050,3130,2014-02-09,6,6,1,20:42:00,20,42,2nd at South Park,...,1,0,0,0,0,0,0,1,0,1
549958,179051,3125,2014-02-09,6,6,1,20:43:00,20,43,2nd at South Park,...,1,0,0,0,0,0,0,1,0,1
549959,178979,934,2014-02-09,6,6,1,10:47:00,10,47,Powell at Post (Union Square),...,1,0,0,0,0,0,0,1,1,0
549960,179023,267,2014-02-09,6,6,1,15:41:00,15,41,Santa Clara at Almaden,...,1,0,0,0,0,0,0,1,1,0

In [75]:
trainingSet[trainingSet.zip_code.str.isnumeric() == False].loc[:,['zip_code']]

          zip_code
54             nil
99             nil
148            nil
251            nil
375            nil
432            nil
700            nil
701            nil
736            nil
807            nil
810            nil
865            nil
1007           nil
1008           nil
1015           nil
1016           nil
1059           nil
1129    94040-1724
1149    94040-1724
1159           nil
1305           nil
1306           nil
1347           nil
1373           nil
1387           nil
1545           nil
1547           nil
1653           nil
1714           nil
1717           nil
...            ...
548438         nil
548445         nil
548482         nil
548483         nil
548487         nil
548521         nil
548570         nil
548580         nil
548581         nil
548601         nil
548602         nil
548607         nil
548610         nil
548622         nil
548623         nil
548636         nil
548641         nil
548645         nil
548658         nil
548675         nil
548735         nil
549195         nil
549219         nil
549236         nil
549268         nil
549276  94040-1724
549705         nil
549729         nil
549730         nil
549782         nil

[9029 rows x 1 columns]

## Normalizacion

In [76]:
durationNormalize = preprocessing.normalize(trainingSet.duration)
trainingSet['duration'] = durationNormalize[0]
maxTemperatureNormalize = preprocessing.normalize(trainingSet.max_temperature_c)
trainingSet['max_temperature_c'] = maxTemperatureNormalize[0]
minTemperatureNormalize= preprocessing.normalize(trainingSet.min_temperature_c)
trainingSet['min_temperature_c'] = minTemperatureNormalize[0]
maxHumidityNormalize = preprocessing.normalize(trainingSet.max_humidity)
trainingSet['max_humidity'] = maxHumidityNormalize[0]
maxSeaLevelPressureNormalize = preprocessing.normalize(trainingSet.max_sea_level_pressure_cm)
trainingSet['max_sea_level_pressure_cm'] = maxSeaLevelPressureNormalize[0]
precipitationNormalize = preprocessing.normalize(trainingSet.precipitation_cm)
trainingSet['precipitation_cm'] = precipitationNormalize[0]

/usr/local/lib/python2.7/dist-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/usr/local/lib/python2.7/dist-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, _DataConversionWarning)

549961

In [97]:
trainingSet.loc[:,['duration','max_temperature_c','min_temperature_c','max_humidity','max_sea_level_pressure_cm','precipitation_cm']]

,duration,max_temperature_c,min_temperature_c,max_humidity,max_sea_level_pressure_cm,precipitation_cm
0,0.000022,0.001853,0.001699,0.001317,0.001348,0.000000
1,0.000016,0.001853,0.001699,0.001317,0.001348,0.000000
2,0.000033,0.001853,0.001699,0.001317,0.001348,0.000000
3,0.000024,0.001853,0.001699,0.001317,0.001348,0.000000
4,0.000048,0.001853,0.001699,0.001317,0.001348,0.000000
5,0.000184,0.001853,0.001699,0.001317,0.001348,0.000000
6,0.000042,0.001853,0.001699,0.001317,0.001348,0.000000
7,0.000033,0.001853,0.001699,0.001317,0.001348,0.000000
8,0.000186,0.001853,0.001699,0.001317,0.001348,0.000000
9,0.000024,0.001853,0.001699,0.001317,0.001348,0.000000
10,0.000020,0.001853,0.001699,0.001317,0.001348,0.000000
11,0.000016,0.001853,0.001699,0.001317,0.001348,0.000000
12,0.000018,0.001853,0.001699,0.001317,0.001348,0.000000
13,0.000020,0.001853,0.001699,0.001317,0.001348,0.000000
14,0.000015,0.001853,0.001699,0.001317,0.001348,0.000000
15,0.000013,0.001853,0.001699,0.001317,0.001348,0.000000
16,0.000034,0.001853,0.001699,0.001317,0.001348,0.000000
17,0.000029,0.001853,0.001699,0.001317,0.001348,0.000000
18,0.000033,0.001853,0.001699,0.001317,0.001348,0.000000
19,0.000038,0.001853,0.001699,0.001317,0.001348,0.000000
20,0.000045,0.001853,0.001699,0.001317,0.001348,0.000000
21,0.000017,0.001853,0.001699,0.001317,0.001348,0.000000
22,0.000025,0.001853,0.001699,0.001317,0.001348,0.000000
23,0.000014,0.001853,0.001699,0.001317,0.001348,0.000000
24,0.000017,0.001853,0.001699,0.001317,0.001348,0.000000
25,0.000018,0.001853,0.001699,0.001317,0.001348,0.000000
26,0.000020,0.001853,0.001699,0.001317,0.001348,0.000000
27,0.000010,0.001853,0.001699,0.001317,0.001348,0.000000
28,0.000015,0.001853,0.001699,0.001317,0.001348,0.000000
29,0.000014,0.001853,0.001699,0.001317,0.001348,0.000000
...,...,...,...,...,...,...
549931,0.000039,0.000962,0.001447,0.001568,0.001353,0.004108
549932,0.000018,0.000962,0.001447,0.001568,0.001353,0.004108
549933,0.000015,0.000962,0.001447,0.001568,0.001353,0.004108
549934,0.000012,0.000962,0.001447,0.001568,0.001353,0.004108
549935,0.000020,0.000962,0.001447,0.001568,0.001353,0.004108
549936,0.000029,0.000962,0.001447,0.001568,0.001353,0.004108
549937,0.000016,0.000962,0.001447,0.001568,0.001353,0.004108
549938,0.000028,0.000962,0.001447,0.001568,0.001353,0.004108
549939,0.000038,0.000962,0.001447,0.001568,0.001353,0.004108
549940,0.000023,0.000962,0.001447,0.001568,0.001353,0.004108
549941,0.000030,0.000962,0.001447,0.001568,0.001353,0.004108
549942,0.000027,0.000962,0.001447,0.001568,0.001353,0.004108
549943,0.000024,0.000962,0.001447,0.001568,0.001353,0.004108
549944,0.000058,0.000962,0.001447,0.001568,0.001353,0.004108
549945,0.000075,0.000962,0.001447,0.001568,0.001353,0.004108
549946,0.000022,0.000962,0.001447,0.001568,0.001353,0.004108
549947,0.000022,0.000962,0.001447,0.001568,0.001353,0.004108
549948,0.000027,0.000962,0.001447,0.001568,0.001353,0.004108
549949,0.000789,0.000962,0.001447,0.001568,0.001353,0.004108
549950,0.000045,0.000962,0.001447,0.001568,0.001353,0.004108
549951,0.000082,0.000962,0.001447,0.001568,0.001353,0.004108
549952,0.000007,0.000962,0.001447,0.001568,0.001353,0.004108
549953,0.000007,0.000962,0.001447,0.001568,0.001353,0.004108
549954,0.000080,0.000962,0.001447,0.001568,0.001353,0.004108
549955,0.000044,0.000962,0.001447,0.001568,0.001353,0.004108
549956,0.000025,0.000962,0.001447,0.001568,0.001353,0.004108
549957,0.000173,0.000962,0.001447,0.001568,0.001353,0.004108
549958,0.000173,0.000962,0.001447,0.001568,0.001353,0.004108
549959,0.000052,0.000962,0.001447,0.001568,0.001353,0.004108
549960,0.000015,0.000962,0.001447,0.001568,0.001353,0.004108

## Save processed data

In [ ]:
trainingSet.to_csv('../CSVs/improved_trip_train.csv', index=False)