# TP2: Machine Learning

In [32]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [33]:
trainingSet = pd.read_csv('../CSVs/improved_trip_train.csv')
trainingSet.dtypes

id                     int64
duration               int64
start_date            object
start_station_name    object
start_station_id       int64
end_date              object
end_station_name      object
end_station_id         int64
bike_id                int64
subscription_type     object
zip_code              object
start_dayOfWeek        int64
start_week             int64
start_quarter          int64
start_time            object
start_hour             int64
start_minute           int64
end_dayOfWeek          int64
end_week               int64
end_quarter            int64
end_time              object
end_hour               int64
end_minute             int64
dtype: object

In [34]:
trainingSet.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,...,start_quarter,start_time,start_hour,start_minute,end_dayOfWeek,end_week,end_quarter,end_time,end_hour,end_minute
0,907649,396,2015-08-27,Harry Bridges Plaza (Ferry Building),50,2015-08-27,Embarcadero at Sansome,60,187,Subscriber,...,3,08:36:00,8,36,3,35,3,08:43:00,8,43
1,384043,636,2014-07-28,Market at 10th,67,2014-07-28,Washington at Kearny,46,417,Subscriber,...,3,22:06:00,22,6,0,31,3,22:17:00,22,17
2,316176,334,2014-06-09,Market at Sansome,77,2014-06-09,2nd at Folsom,62,281,Subscriber,...,2,08:42:00,8,42,0,24,2,08:47:00,8,47
3,618874,666,2015-01-26,San Francisco Caltrain 2 (330 Townsend),69,2015-01-26,Temporary Transbay Terminal (Howard at Beale),55,634,Subscriber,...,1,16:55:00,16,55,0,5,1,17:07:00,17,7
4,910977,318,2015-08-29,Market at 10th,67,2015-08-29,Powell Street BART,39,607,Subscriber,...,3,15:09:00,15,9,5,35,3,15:14:00,15,14

In [35]:
trainingSet['start_date'] = pd.to_datetime(trainingSet.start_date)
trainingSet['start_time'] = pd.to_datetime(trainingSet.start_time)

trainingSet['end_date'] = pd.to_datetime(trainingSet.end_date)
trainingSet['end_time'] = pd.to_datetime(trainingSet.end_time)

In [36]:
trainingSet.dtypesngSetiningSet.dtypes

AttributeError: 'DataFrame' object has no attribute 'dtypesngSetiningSet'

In [ ]:
trainingSet.head()

In [ ]:
trainingSet.shape