# TP2: Machine Learning

### Imports

In [30]:
import pandas as pd
from datetime import datetime
import scipy.spatial

### Data loading

In [31]:
stationDF = pd.read_csv('../CSVs/station.csv')
trainingSet = pd.read_csv('../CSVs/trip_train.csv')
testingSet = pd.read_csv('../CSVs/trip_test.csv')

In [32]:
testingSet

,id,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,504737,10/18/2014 11:25,Embarcadero at Sansome,60,10/18/2014 12:12,Powell at Post (Union Square),71,426,Customer,77009
1,530846,11/5/2014 13:00,Embarcadero at Folsom,51,11/5/2014 13:09,Broadway St at Battery St,82,454,Subscriber,94132
2,813140,6/18/2015 17:34,San Francisco Caltrain (Townsend at 4th),70,6/18/2015 17:37,2nd at Townsend,61,370,Subscriber,94107
3,897674,8/20/2015 7:06,Civic Center BART (7th at Market),72,8/20/2015 7:15,Townsend at 7th,65,451,Subscriber,94582
4,322830,6/13/2014 8:46,San Francisco Caltrain 2 (330 Townsend),69,6/13/2014 8:57,Embarcadero at Folsom,51,603,Subscriber,95014
5,487841,10/7/2014 21:41,2nd at Townsend,61,10/7/2014 21:47,Post at Kearny,47,478,Subscriber,94115
6,677808,3/11/2015 18:09,Market at 10th,67,3/11/2015 18:22,San Francisco Caltrain (Townsend at 4th),70,505,Subscriber,94025
7,704449,3/30/2015 17:29,Embarcadero at Vallejo,48,3/30/2015 17:35,Steuart at Market,74,356,Subscriber,94536
8,833587,7/5/2015 11:54,Market at 10th,67,7/5/2015 12:00,Market at 4th,76,401,Subscriber,94102
9,420411,8/22/2014 13:30,Embarcadero at Vallejo,48,8/22/2014 13:41,5th at Howard,57,363,Subscriber,94114
10,354777,7/8/2014 14:05,Embarcadero at Bryant,54,7/8/2014 14:15,Davis at Jackson,42,591,Subscriber,94110
11,17809,9/11/2013 13:17,Civic Center BART (7th at Market),72,9/11/2013 13:20,San Francisco City Hall,58,588,Subscriber,94707
12,854667,7/20/2015 19:45,2nd at South Park,64,7/20/2015 19:57,Market at Sansome,77,405,Subscriber,94705
13,673325,3/9/2015 8:47,2nd at Folsom,62,3/9/2015 8:56,Broadway St at Battery St,82,417,Subscriber,94107
14,729900,4/17/2015 9:28,San Francisco Caltrain 2 (330 Townsend),69,4/17/2015 9:37,5th at Howard,57,472,Customer,95070
15,4485,8/29/2013 13:16,Commercial at Montgomery,45,8/29/2013 13:34,Market at 10th,67,410,Customer,94117
16,349394,7/3/2014 8:03,Harry Bridges Plaza (Ferry Building),50,7/3/2014 8:11,2nd at Townsend,61,526,Subscriber,94904
17,784460,5/28/2015 13:27,Commercial at Montgomery,45,5/28/2015 13:30,Mechanics Plaza (Market at Battery),75,652,Subscriber,94709
18,908431,8/27/2015 16:24,Embarcadero at Folsom,51,8/27/2015 16:44,South Van Ness at Market,66,562,Subscriber,94103
19,805578,6/12/2015 19:57,San Francisco Caltrain 2 (330 Townsend),69,6/12/2015 20:01,Townsend at 7th,65,332,Subscriber,94107
20,609571,1/19/2015 12:51,Market at Sansome,77,1/19/2015 12:57,2nd at South Park,64,593,Subscriber,94588
21,269385,5/2/2014 10:40,Washington at Kearny,46,5/2/2014 11:25,Washington at Kearny,46,594,Customer,98118
22,227320,3/26/2014 9:27,San Francisco Caltrain 2 (330 Townsend),69,3/26/2014 9:36,Market at 4th,76,612,Subscriber,94040
23,658277,2/25/2015 17:38,Powell Street BART,39,2/25/2015 17:43,Market at 10th,67,501,Subscriber,94107
24,205479,3/7/2014 13:58,Steuart at Market,74,3/7/2014 14:05,Commercial at Montgomery,45,551,Subscriber,94704
25,429936,8/28/2014 20:09,2nd at Folsom,62,8/28/2014 20:13,Market at Sansome,77,627,Subscriber,94501
26,176953,2/5/2014 14:26,Broadway St at Battery St,82,2/5/2014 14:51,Civic Center BART (7th at Market),72,338,Customer,94102
27,64226,10/18/2013 18:35,Yerba Buena Center of the Arts (3rd @ Howard),68,10/18/2013 18:40,San Francisco Caltrain (Townsend at 4th),70,494,Subscriber,94107
28,489619,10/8/2014 18:36,Market at Sansome,77,10/8/2014 18:39,Yerba Buena Center of the Arts (3rd @ Howard),68,564,Subscriber,94107
29,831189,7/2/2015 8:14,Embarcadero at Sansome,60,7/2/2015 8:20,Harry Bridges Plaza (Ferry Building),50,374,Subscriber,94111
...,...,...,...,...,...,...,...,...,...,...
119968,60831,10/16/2013 17:13,Market at 10th,67,10/16/2013 17:20,Market at 4th,76,369,Subscriber,94108
119969,875546,8/4/2015 17:19,Townsend at 7th,65,8/4/2015 17:26,Civic Center BART (7th at Market),72,583,Subscriber,94707
119970,126578,12/16/2013 7:48,Market at Sansome,77,12/16/2013 7:53,2nd at South Park,64,627,Subscriber,94611
119971,244611,4/11/2014 8:22,Market at Sansome,77,4/11/2014 8:27,2nd at South Park,64,353,Subscriber,94606
119972,110019,11/27/2013 17:14,Steuart at Market,74,11/27/2013 17:28,Market at 10th,67,437,Subscriber,94103
119973,114911,12/4/2013 10:54,Commercial at Montgomery,45,12/4/2013 11:08,Market at 10th,67,260,Subscriber,94133
119974,649284,2/18/2015 19:45,Market at 4th,76,2/18/2015 19:53,Market at 10th,67,531,Subscriber,94103
119975,719648,4/10/2015 7:46,Ryland Park,84,4/10/2015 7:54,San Jose Diridon Caltrain Station,2,90,Subscriber,95110
119976,536952,11/10/2014 6:47,Ryland Park,84,11/10/2014 6:56,San Jose Civic Center,3,161,Subscriber,5112
119977,579153,12/17/2014 16:42,2nd at Folsom,62,12/17/2014 16:45,Market at Sansome,77,390,Subscriber,94582
119978,619244,1/26/2015 18:32,Clay at Battery,41,1/26/2015 18:34,Clay at Battery,41,354,Subscriber,94403
119979,277802,5/9/2014 8:46,San Francisco Caltrain 2 (330 Townsend),69,5/9/2014 8:52,Yerba Buena Center of the Arts (3rd @ Howard),68,417,Subscriber,94087
119980,572524,12/10/2014 7:06,San Francisco Caltrain (Townsend at 4th),70,12/10/2014 7:16,Temporary Transbay Terminal (Howard at Beale),55,651,Subscriber,94107
119981,273279,5/6/2014 8:39,San Antonio Caltrain Station,29,5/6/2014 8:43,San Antonio Shopping Center,31,703,Subscriber,94070
119982,438379,9/4/2014 15:04,Clay at Battery,41,9/4/2014 15:09,Broadway St at Battery St,82,376,Subscriber,94107
119983,322903,6/13/2014 9:06,South Van Ness at Market,66,6/13/2014 9:21,2nd at South Park,64,33,Subscriber,94103
119984,226880,3/25/2014 17:59,Steuart at Market,74,3/25/2014 18:09,Grant Avenue at Columbus Avenue,73,259,Subscriber,94118
119985,34690,9/25/2013 14:27,Embarcadero at Bryant,54,9/25/2013 14:35,San Francisco Caltrain (Townsend at 4th),70,620,Subscriber,95129
119986,581506,12/19/2014 17:41,Broadway St at Battery St,82,12/19/2014 17:45,Steuart at Market,74,572,Subscriber,94610
119987,365644,7/16/2014 7:46,Market at 10th,67,7/16/2014 7:53,Market at 4th,76,601,Subscriber,94107
119988,18373,9/11/2013 20:27,Townsend at 7th,65,9/11/2013 20:31,San Francisco Caltrain (Townsend at 4th),70,549,Subscriber,94158
119989,646921,2/17/2015 12:59,Mechanics Plaza (Market at Battery),75,2/17/2015 13:16,Embarcadero at Bryant,54,335,Subscriber,94105
119990,835970,7/7/2015 9:54,San Francisco Caltrain 2 (330 Townsend),69,7/7/2015 9:59,5th at Howard,57,391,Subscriber,94002
119991,100540,11/18/2013 18:41,Harry Bridges Plaza (Ferry Building),50,11/18/2013 18:48,Embarcadero at Sansome,60,492,Customer,94133
119992,503083,10/17/2014 8:06,San Francisco Caltrain 2 (330 Townsend),69,10/17/2014 8:19,Temporary Transbay Terminal (Howard at Beale),55,265,Subscriber,92084
119993,274799,5/7/2014 8:11,South Van Ness at Market,66,5/7/2014 8:15,Golden Gate at Polk,59,493,Subscriber,94117
119994,464786,9/22/2014 19:38,San Francisco Caltrain 2 (330 Townsend),69,9/22/2014 19:45,5th at Howard,57,659,Subscriber,94107
119995,172825,1/31/2014 19:03,Harry Bridges Plaza (Ferry Building),50,1/31/2014 19:56,Harry Bridges Plaza (Ferry Building),50,559,Subscriber,94102
119996,641204,2/12/2015 9:25,San Jose Diridon Caltrain Station,2,2/12/2015 9:29,Santa Clara at Almaden,4,42,Subscriber,94025
119997,893371,8/17/2015 17:06,Mechanics Plaza (Market at Battery),75,8/17/2015 17:17,San Francisco Caltrain 2 (330 Townsend),69,288,Subscriber,94070

## Basic data analysis

In [33]:
stationDF.head()

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [34]:
print "stationDF.shape: ", stationDF.shape

stationDF.shape:  (70, 7)

In [35]:
distancesDF = pd.DataFrame(columns=["start_station_id", "end_station_id", "distance"])

In [36]:
scipy.spatial.distance_matrix([scipy.spatial.distance.cityblock(stationDF.lat, stationDF.long), 70], \
                              [scipy.spatial.distance.cityblock(stationDF.lat, stationDF.long), 70])

ValueError: need more than 1 value to unpack

In [37]:
for station, lat, lon in zip(stationDF.id, stationDF.lat, stationDF.long):
    for station2, lat2, lon2 in zip(stationDF.id, stationDF.lat, stationDF.long):
        distancesDF = distancesDF.append({
            "start_station_id": int(station),
            "end_station_id": int(station2),
            "distance": scipy.spatial.distance.cityblock([lat, lon], [lat2, lon2])
        }, ignore_index=True)

In [38]:
distancesDF

      start_station_id  end_station_id  distance
0                  2.0             2.0  0.000000
1                  2.0             3.0  0.013769
2                  2.0             4.0  0.011136
3                  2.0             5.0  0.010265
4                  2.0             6.0  0.014697
5                  2.0             7.0  0.018905
6                  2.0             8.0  0.016384
7                  2.0             9.0  0.026077
8                  2.0            10.0  0.022446
9                  2.0            11.0  0.022275
10                 2.0            12.0  0.020967
11                 2.0            13.0  0.021414
12                 2.0            14.0  0.004658
13                 2.0            16.0  0.028656
14                 2.0            21.0  0.477148
15                 2.0            22.0  0.486653
16                 2.0            23.0  0.486053
17                 2.0            24.0  0.480129
18                 2.0            25.0  0.457144
19                 2.0            26.0  0.479660
20                 2.0            27.0  0.239600
21                 2.0            28.0  0.239557
22                 2.0            29.0  0.282184
23                 2.0            30.0  0.225316
24                 2.0            31.0  0.277267
25                 2.0            32.0  0.238120
26                 2.0            33.0  0.267803
27                 2.0            34.0  0.377233
28                 2.0            35.0  0.376100
29                 2.0            36.0  0.340373
...                ...             ...       ...
4870              84.0            51.0  0.944156
4871              84.0            39.0  0.953962
4872              84.0            54.0  0.936823
4873              84.0            55.0  0.946057
4874              84.0            56.0  0.950995
4875              84.0            57.0  0.948537
4876              84.0            58.0  0.958543
4877              84.0            59.0  0.961593
4878              84.0            60.0  0.969662
4879              84.0            61.0  0.932472
4880              84.0            62.0  0.943193
4881              84.0            63.0  0.946744
4882              84.0            64.0  0.936655
4883              84.0            65.0  0.935433
4884              84.0            66.0  0.955426
4885              84.0            67.0  0.955662
4886              84.0            68.0  0.947550
4887              84.0            69.0  0.933728
4888              84.0            70.0  0.933535
4889              84.0            71.0  0.958603
4890              84.0            72.0  0.954445
4891              84.0            73.0  0.967425
4892              84.0            74.0  0.950231
4893              84.0            75.0  0.952009
4894              84.0            76.0  0.952929
4895              84.0            77.0  0.952094
4896              84.0            80.0  0.019992
4897              84.0            82.0  0.961061
4898              84.0            83.0  0.489161
4899              84.0            84.0  0.000000

[4900 rows x 3 columns]

### Training set

In [39]:
trainingSet.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,907649,396,8/27/2015 8:36,Harry Bridges Plaza (Ferry Building),50,8/27/2015 8:43,Embarcadero at Sansome,60,187,Subscriber,94602
1,384043,636,7/28/2014 22:06,Market at 10th,67,7/28/2014 22:17,Washington at Kearny,46,417,Subscriber,94133
2,316176,334,6/9/2014 8:42,Market at Sansome,77,6/9/2014 8:47,2nd at Folsom,62,281,Subscriber,94107
3,618874,666,1/26/2015 16:55,San Francisco Caltrain 2 (330 Townsend),69,1/26/2015 17:07,Temporary Transbay Terminal (Howard at Beale),55,634,Subscriber,94602
4,910977,318,8/29/2015 15:09,Market at 10th,67,8/29/2015 15:14,Powell Street BART,39,607,Subscriber,94709

In [40]:
trainingSet.size

6049571

In [41]:
trainingSet.dtypes

id                     int64
duration               int64
start_date            object
start_station_name    object
start_station_id       int64
end_date              object
end_station_name      object
end_station_id         int64
bike_id                int64
subscription_type     object
zip_code              object
dtype: object

### convert to date to datetime

In [42]:
trainingSet['start_date'] = pd.to_datetime(trainingSet.start_date)
trainingSet['end_date'] = pd.to_datetime(trainingSet.end_date)

In [43]:
testingSet['start_date'] = pd.to_datetime(testingSet.start_date)
testingSet['end_date'] = pd.to_datetime(testingSet.end_date)

In [44]:
trainingSet.dtypes

id                             int64
duration                       int64
start_date            datetime64[ns]
start_station_name            object
start_station_id               int64
end_date              datetime64[ns]
end_station_name              object
end_station_id                 int64
bike_id                        int64
subscription_type             object
zip_code                      object
dtype: object

In [45]:
trainingSet['start_dayOfWeek'] = trainingSet.start_date.dt.dayofweek
trainingSet['start_week'] = trainingSet.start_date.dt.week
trainingSet['start_quarter'] = trainingSet.start_date.dt.quarter
trainingSet['start_time'] = trainingSet.start_date.dt.time
trainingSet['start_hour'] = trainingSet.start_date.dt.hour
trainingSet['start_minute'] = trainingSet.start_date.dt.minute
trainingSet['start_date'] = trainingSet.start_date.dt.date

trainingSet['end_dayOfWeek'] = trainingSet.end_date.dt.dayofweek
trainingSet['end_week'] = trainingSet.end_date.dt.week
trainingSet['end_quarter'] = trainingSet.end_date.dt.quarter
trainingSet['end_time'] = trainingSet.end_date.dt.time
trainingSet['end_hour'] = trainingSet.end_date.dt.hour
trainingSet['end_minute'] = trainingSet.end_date.dt.minute
trainingSet['end_date'] = trainingSet.end_date.dt.date

In [46]:
testingSet['start_dayOfWeek'] = testingSet.start_date.dt.dayofweek
testingSet['start_week'] = testingSet.start_date.dt.week
testingSet['start_quarter'] = testingSet.start_date.dt.quarter
testingSet['start_time'] = testingSet.start_date.dt.time
testingSet['start_hour'] = testingSet.start_date.dt.hour
testingSet['start_minute'] = testingSet.start_date.dt.minute
testingSet['start_date'] = testingSet.start_date.dt.date

testingSet['end_dayOfWeek'] = testingSet.end_date.dt.dayofweek
testingSet['end_week'] = testingSet.end_date.dt.week
testingSet['end_quarter'] =testingSet.end_date.dt.quarter
testingSet['end_time'] = testingSet.end_date.dt.time
testingSet['end_hour'] = testingSet.end_date.dt.hour
testingSet['end_minute'] = testingSet.end_date.dt.minute
testingSet['end_date'] = testingSet.end_date.dt.date

In [50]:
trainingSet.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,...,start_quarter,start_time,start_hour,start_minute,end_dayOfWeek,end_week,end_quarter,end_time,end_hour,end_minute
0,907649,396,2015-08-27,Harry Bridges Plaza (Ferry Building),50,2015-08-27,Embarcadero at Sansome,60,187,Subscriber,...,3,08:36:00,8,36,3,35,3,08:43:00,8,43
1,384043,636,2014-07-28,Market at 10th,67,2014-07-28,Washington at Kearny,46,417,Subscriber,...,3,22:06:00,22,6,0,31,3,22:17:00,22,17
2,316176,334,2014-06-09,Market at Sansome,77,2014-06-09,2nd at Folsom,62,281,Subscriber,...,2,08:42:00,8,42,0,24,2,08:47:00,8,47
3,618874,666,2015-01-26,San Francisco Caltrain 2 (330 Townsend),69,2015-01-26,Temporary Transbay Terminal (Howard at Beale),55,634,Subscriber,...,1,16:55:00,16,55,0,5,1,17:07:00,17,7
4,910977,318,2015-08-29,Market at 10th,67,2015-08-29,Powell Street BART,39,607,Subscriber,...,3,15:09:00,15,9,5,35,3,15:14:00,15,14

In [51]:
list(trainingSet.columns.values)

['id',
 'duration',
 'start_date',
 'start_station_name',
 'start_station_id',
 'end_date',
 'end_station_name',
 'end_station_id',
 'bike_id',
 'subscription_type',
 'zip_code',
 'start_dayOfWeek',
 'start_week',
 'start_quarter',
 'start_time',
 'start_hour',
 'start_minute',
 'end_dayOfWeek',
 'end_week',
 'end_quarter',
 'end_time',
 'end_hour',
 'end_minute']

In [52]:
trainingSet = trainingSet[['id', 
                           'duration', 
                           'start_date',
                           'start_dayOfWeek',
                           'start_week',
                           'start_quarter', 
                           'start_time',
                           'start_hour',
                           'start_minute',
                           'start_station_name', 
                           'start_station_id', 
                           'end_date', 
                           'end_dayOfWeek',
                           'end_week',
                           'end_quarter', 
                           'end_time',
                           'end_hour',
                           'end_minute',
                           'end_station_name', 
                           'end_station_id', 
                           'bike_id',
                           'subscription_type',
                           'zip_code']]

In [53]:
list(testingSet.columns.values)

['id',
 'start_date',
 'start_station_name',
 'start_station_id',
 'end_date',
 'end_station_name',
 'end_station_id',
 'bike_id',
 'subscription_type',
 'zip_code',
 'start_dayOfWeek',
 'start_week',
 'start_quarter',
 'start_time',
 'start_hour',
 'start_minute',
 'end_dayOfWeek',
 'end_week',
 'end_quarter',
 'end_time',
 'end_hour',
 'end_minute']

In [54]:
testingSet = testingSet[['id', 
                           'start_date',
                           'start_dayOfWeek',
                           'start_week',
                           'start_quarter', 
                           'start_time',
                           'start_hour',
                           'start_minute',
                           'start_station_name', 
                           'start_station_id', 
                           'end_date', 
                           'end_dayOfWeek',
                           'end_week',
                           'end_quarter', 
                           'end_time',
                           'end_hour',
                           'end_minute',
                           'end_station_name', 
                           'end_station_id', 
                           'bike_id',
                           'subscription_type',
                           'zip_code']]

In [ ]:
trainingSet = pd.merge(trainingSet,dfData,on =['start_station_id','end_station_id'],how = 'inner')

In [55]:
testingSet.head()

,id,start_date,start_dayOfWeek,start_week,start_quarter,start_time,start_hour,start_minute,start_station_name,start_station_id,...,end_week,end_quarter,end_time,end_hour,end_minute,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,504737,2014-10-18,5,42,4,11:25:00,11,25,Embarcadero at Sansome,60,...,42,4,12:12:00,12,12,Powell at Post (Union Square),71,426,Customer,77009
1,530846,2014-11-05,2,45,4,13:00:00,13,0,Embarcadero at Folsom,51,...,45,4,13:09:00,13,9,Broadway St at Battery St,82,454,Subscriber,94132
2,813140,2015-06-18,3,25,2,17:34:00,17,34,San Francisco Caltrain (Townsend at 4th),70,...,25,2,17:37:00,17,37,2nd at Townsend,61,370,Subscriber,94107
3,897674,2015-08-20,3,34,3,07:06:00,7,6,Civic Center BART (7th at Market),72,...,34,3,07:15:00,7,15,Townsend at 7th,65,451,Subscriber,94582
4,322830,2014-06-13,4,24,2,08:46:00,8,46,San Francisco Caltrain 2 (330 Townsend),69,...,24,2,08:57:00,8,57,Embarcadero at Folsom,51,603,Subscriber,95014

In [56]:
trainingSet.head()

,id,duration,start_date,start_dayOfWeek,start_week,start_quarter,start_time,start_hour,start_minute,start_station_name,...,end_week,end_quarter,end_time,end_hour,end_minute,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,907649,396,2015-08-27,3,35,3,08:36:00,8,36,Harry Bridges Plaza (Ferry Building),...,35,3,08:43:00,8,43,Embarcadero at Sansome,60,187,Subscriber,94602
1,384043,636,2014-07-28,0,31,3,22:06:00,22,6,Market at 10th,...,31,3,22:17:00,22,17,Washington at Kearny,46,417,Subscriber,94133
2,316176,334,2014-06-09,0,24,2,08:42:00,8,42,Market at Sansome,...,24,2,08:47:00,8,47,2nd at Folsom,62,281,Subscriber,94107
3,618874,666,2015-01-26,0,5,1,16:55:00,16,55,San Francisco Caltrain 2 (330 Townsend),...,5,1,17:07:00,17,7,Temporary Transbay Terminal (Howard at Beale),55,634,Subscriber,94602
4,910977,318,2015-08-29,5,35,3,15:09:00,15,9,Market at 10th,...,35,3,15:14:00,15,14,Powell Street BART,39,607,Subscriber,94709

In [57]:
trainingSet.dtypes

id                     int64
duration               int64
start_date            object
start_dayOfWeek        int64
start_week             int64
start_quarter          int64
start_time            object
start_hour             int64
start_minute           int64
start_station_name    object
start_station_id       int64
end_date              object
end_dayOfWeek          int64
end_week               int64
end_quarter            int64
end_time              object
end_hour               int64
end_minute             int64
end_station_name      object
end_station_id         int64
bike_id                int64
subscription_type     object
zip_code              object
dtype: object

In [58]:
testingSet.dtypes

id                     int64
start_date            object
start_dayOfWeek        int64
start_week             int64
start_quarter          int64
start_time            object
start_hour             int64
start_minute           int64
start_station_name    object
start_station_id       int64
end_date              object
end_dayOfWeek          int64
end_week               int64
end_quarter            int64
end_time              object
end_hour               int64
end_minute             int64
end_station_name      object
end_station_id         int64
bike_id                int64
subscription_type     object
zip_code              object
dtype: object

## Save processed data

In [ ]:
trainingSet.to_csv('../CSVs/improved_trip_train.csv', index=False)

In [ ]:
testingSet.to_csv('../CSVs/improved_trip_test.csv', index=False)